@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("../node_modules/normalize.css/normalize.css");
@import url("./reset.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
--------------------
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.page {
  overflow: hidden;
  background-color: #F8F8F8;
}

.button {
  background-color: #F4E041;
  text-transform: capitalize;
  border: none;
  min-width: 100px;
  min-height: 34px;
  border-radius: 80px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 4px 29px;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s ease-out;
  color:rgba(0, 0, 0, 0.874);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #FFE302;
}

.avatar {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 80%;
  margin: 0 auto;
  height: 0.5rem;
  border-radius: 0.125rem;
  margin-bottom: .25rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%)
  }
  100% {
    background-color: hsl(200, 20%, 95%)
  }
}

.header__top-line {
  background-color: #161616;
  height: 60px;
  width: 100%;
}

.header__bottom-line {
  height: 60px;
  width: 100%;
  background-color: white;
}

.header__bottom-line-inner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.inner__logo {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inner__logo img {
  align-self: center;
}

.inner__buttons {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inner__buttons > *:last-child {
  margin-left: 10px;
}

.poster-inner {
  height: 100%;
  width: 100%;
  background-image: url("../assets/wheat2.png");
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster-inner__contents {
  max-width: 380px;
  padding-top: 164px;
  padding-bottom: 164px;
  margin-left: 60px;
  margin-right: 60px;
}

.poster-inner__heading {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 21px;
}

.poster-inner__text {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.poster-inner__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.get {
  padding: 140px 0;
  padding-bottom: 0;
}

.get .container > *:not(:last-child) {
  margin-bottom: 50px;
}

.get__heading {
  text-align: center;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 50px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}


.users__item {
  background-color: rgb(255, 255, 255);
  width: calc(33.33% - 20px);
  border-radius: 16px;
  padding: 20px;
}

.users__item > * {
  text-align: center;
}
.users__item > *:not(:last-child) {
  margin-bottom: 20px;
}

.users__item-avatar {
  text-align: center;
}

.users__item-name {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  text-overflow: ellipsis;
}

.additional > * {
  margin-top: 0;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  text-overflow: ellipsis;
}

.get__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.get__button-item {
  padding: 4px 18px;
}

@media (max-width: 1170px) {
  .users__container {
    padding: 0 60px;
  }
  .header__bottom-line {
    padding: 0 60px;
  }
  .poster-inner__contents {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 994px) {
  .users__item {
    width: calc(50% - 15px);
  }
  .users {
    gap: 30px;
  }
  .users__container {
    padding: 0 32px;
  }
}
@media (max-width: 994px) {
  .header__bottom-line {
    padding: 0 30px;
  }
  .poster-inner__contents {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .users__item {
    width: calc(50% - 8px);
  }
  .users {
    gap: 16px;
  }
  .header__bottom-line {
    padding: 0 15px;
  }
  .poster-inner__contents {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 580px) {
  .users__item {
    width: calc(100%);
  }
  .users {
    gap: 20px;
  }
  .users__container {
    padding: 0 16px;
  }
}

@media (max-width: 373px) {
  .inner__buttons-button {
    padding-right: 20px;
    padding-left: 20px;
  }
}




.hidePreload {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color:rgb(241, 250, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-out 0s;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
 }
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid rgb(241, 250, 255);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.post {
	padding: 0 16px;
	padding-top: 140px;
}
fieldset {
	width: 380px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #F8F8F8;
	border: 1px solid #D0CFCF;
	border-radius: 4px;
	padding: 14px 16px;
}
fieldset, .post__form > div {
	margin-top: 50px;
	position: relative;
}
#noborder {
	border: 0;
	padding: 0;
}
#noborder * {
	padding: 0;
}


[data-for="position"] {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(26px / 16px * 100%);
	color: rgba(0, 0, 0, 0.87);
}


[type="radio"] {
	margin-right: 12px;
	position: relative;
	top: 2px;
	margin-bottom: 7px;
}
[type="text"] {
	width: 100%;
}
legend {
	transition: all 0.3s ease 0.3s;
	font-family: 'Nunito';
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14px / 12px * 100%);
	color: #7E7E7E;
	position: absolute;
	background-color: #F8F8F8;
	padding: 0 5px;
	top: -8px;
	left: 13px;
}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
}
.post__container {
	max-width: 380px;
}
.post__heading {
	
}

.post__form-wrapper {
}
.post__form {
}
.post__name {
  width: 100%;
}
.post__email {
  width: 100%;
}
.post__phone {
  width: 100%;
}
.post__item {
  display: none;
}
.post__file {
  padding: 0;
  height: 54px;
  width: 380px;
  display: flex;
}
[for="file"] {
  border: 1px solid rgba(0, 0, 0, 0.86);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26px / 16px * 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  transition: all 0.2s linear 0.5s;
  width: calc(83 / 380 * 100%);
}


.post__itemName {
  width: calc(297 / 380 * 100%);
	border: 1px solid #D0CFCF;
	border-radius: 4px;
  padding: 14px 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.select {
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: calc(26px / 16px * 100%);
	color: rgba(0, 0, 0, 0.87);
	margin-bottom: 11px;
}

.post__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
	border: none;
	background-color: transparent;
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: calc(26px / 16px * 100%);
	color: #7E7E7E;
}

input:focus {
	outline: none;
}

footer {
  height: 60px;
  width: 100%;
  margin-top: 100px;
}

.footer__text {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26px / 16px * 100%);
  display: flex;
  align-items: center;
  border-top: 1px solid#D0CFCF;
}

