@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.page {
	overflow: hidden;
	background-color: #d0cfcf5e;
}
.header {
}
.header__top-line {
	background-color: #161616;
	height: 60px;
	width: 100%;
}
.header__bottom-line {
	height: 60px;
	width: 100%;
	background-color: white;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	align-items: center;
	height: 100%;
}
.header__bottom-line-inner {
	display: flex;
	justify-content: flex-end;
	height: 100%;
}
.inner {
	
}
.inner__logo {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.inner__logo img {
	align-self: center;
}
.inner__buttons {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.button {
	background-color: #F4E041;
	text-transform: capitalize;
	border: none;
	min-width: 100px;
	min-height: 34px;
	border-radius: 80px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	padding: 4px 29px;
}

.inner__buttons > *:last-child {
	margin-left: 10px;
}


.poster-inner {
	height: 100%;
	width: 100%;
	background-image: url("../assets/wheat2.png");
	// background-size: 100% auto;
	background-repeat: no-repeat;
	overflow: hidden;
}

.poster-inner__contents {
	max-width: 380px;
	margin: 164px auto;
}
.poster-inner__heading {
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 40px;

	text-align: center;

	color: #FFFFFF;

	margin-bottom: 21px;
}
.poster-inner__text {
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px / 16px * 100%;

	text-align: center;

	color: #FFFFFF;

	margin-bottom: 32px;
}
.poster-inner__button-container {
	display: flex;
	align-items:center;
	justify-content: center;

}
.button:hover {
	cursor: pointer;
}

.get {
	padding: 140px 0;
}
.container {
}

.get .container > *:not(:last-child) {
	margin-bottom: 50px;
}
.get__heading {
	text-align: center;
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 40px;
	line-height: 100%;
}
.get__users {
}
.users {
	margin: -15px -15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.users__item {
	background-color: white;
	flex-basis: 30.3%;
	border-radius: 16px;
	padding: 20px;
	margin: 15px 15px;
	align-self: stretch;

	& > * {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.users__item-avatar {
	text-align: center;
}
.users__item-name {
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: 162%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.get__users-additional {
}
.additional {
}

.additional > * {
	margin-top: 0;
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: 162%;

	text-align: center;
}	
.additional__position {
}
.additional__email {
}
.get__button {
	display: flex;
	align-items:center;
	justify-content: center;
}

.get__button-item {
	padding: 4px 18px;
}